@using Microsoft.AspNetCore.Http;

@{ 
    
    ProfileViewModel user = (ProfileViewModel)@ViewData["profile"];
    string Is_Product = (string)ViewData["Is_Product"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="~/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />



</head>

<body>


    <div class="container-fluid zero-padding">

        <div class="header-row">
            <div class="header-row__top row clearfix">
                <a class="header-row__logo row" style="margin-left : 20px;width:336px" asp-area="" asp-controller="Home" asp-action="Index">
                    @*<div class="header-row__logo_content">
                        <div class="header-row__logo-text">.NET Team 8 Store</div>
                        <div class="header-row__logo_desc">Digital Transformation Resource</div>
                    </div>*@
                    <img src="~/images/logo.png" alt="header-row__logo" class="header-row__logo-image">

                </a>





                @if( Is_Product == "isProductPage") { 

                   <div class="search_container">

                    <form asp-area="" asp-controller="Products" asp-action="Index" method="post">
                        @*<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
                        *@
                        <div class="card-body row no-gutters align-items-center">

                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" height="30" type="text" name="SearchString" placeholder="Enter your search here ..." value="@ViewData["CurrentFilter"]">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button type="submit" class="search_button" style="outline:none">Search</button>

                            </div>
                            <!--end of col-->
                                                     </div>
                      

                            <!--/div>-->
                            <!--end of col-->
                            <!--</div>-->
                    </form>


                </div>
                }
                else
            {
                <div></div>
            }
                @if (!String.IsNullOrEmpty(Context.Session.GetString("Userid")))
                {

                    <a asp-area="" asp-controller="Profile" asp-action="RenderProfile" class="align-self-center" style="margin-right:30px">

                        <div class="row">

                            <img class="header-row__profile rounded-circle" src="@Url.Content("~/images/" + user.UserImageUrl)" />
                            <div class="header-row__profile-content">
                                <div class="header-row__profile-name">@user.FirstName @user.LastName</div>
                                <div class="header-row__profile-email">@user.Email</div>
                            </div>
                        </div>
                    </a>
                }
               
            </div>
            <div class="row-header__main">
                <ul class="header-row__menu align-self-center col-12">
                    <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span class="menu_item">Home</span></a></li>
                    <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index"><span class="menu_item">Products</span></a></li>

                    <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="WishItem" asp-action="WishList"><span class="menu_item">My Wishlist</span></a></li>
                    @if (!String.IsNullOrEmpty(Context.Session.GetString("Userid")))
                    {
                        <li class="header-row__menu-item"> <a class="nav-link text-dark" asp-area="" asp-controller="OrderDetails" asp-action="Index"><span class="menu_item">My Purchase History</span></a></li>
                        <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="LogOut" asp-action="Index"><span class="menu_item">Logout</span></a></li>

                    }
                    else
                    {
                        <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"><span class="menu_item">Login</span></a></li>
                        <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index"><span class="menu_item">Register</span></a></li>


                    }
                    <li class="header-row__menu-item">
                        <a href="/ShoppingCartItems/Index" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
                            <i class="fas fa fa-shopping-cart fa-2x" style="font-size:25px"></i>
                            <span id="shoppingcartcount" class="cart_count"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer_bottom">
        <div class="container_footer">
            &copy; 2021 - Shopping Cart Application

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/wishitem.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />

    @RenderSection("Scripts", required: false)
</body>
</html>


