@using Microsoft.AspNetCore.Http;

@{ 
    
    ProfileViewModel user = (ProfileViewModel)@ViewData["profile"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAProjectV2</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="~/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />



</head>
<body>


    <div class="container-fluid zero-padding">

        <div class="header-row">
            <div class="header-row__top row clearfix">
                <a class="header-row__logo row mr-auto" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="header-row__logo_content">
                        <div class="header-row__logo-text">Team-8 Book Store</div>
                        <div class="header-row__logo_desc">Online learning Resource</div>
                    </div>
                    <img src="~/images/books.png" alt="header-row__logo" class="header-row__logo-image">




                </a>




                <div class="container">

                    <form asp-area="" asp-controller="Products" asp-action="Index" method="post">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">

                                <div class="card-body row no-gutters align-items-center">

                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" height="30" type="text" name="SearchString" placeholder="Search topics or keywords" value="@ViewData["CurrentFilter"]">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button type="submit" class="search_button" style="outline:none">Search</button>

                                    </div>
                                    <!--end of col-->
                                </div>

                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                @if (!String.IsNullOrEmpty(Context.Session.GetString("Userid")))
                {

                <a asp-area="" asp-controller="Profile" asp-action="RenderProfile" class="align-self-center ml-auto">

                    <div class="row">

                        <img class="header-row__profile rounded-circle" src="@Url.Content("~/images/" + user.UserImageUrl)"/>
                        <div class="header-row__profile-content">
                            <div class="header-row__profile-name">@user.FirstName @user.LastName</div>
                            <div class="header-row__profile-email">@user.Email</div>
                        </div>
                    </div>
                </a>
                }
                else
                {
            <a href="/Login/Index" class="default">Login</a>
                }
            </div>
            <div class="row-header__main">
                <ul class="header-row__menu align-self-center col-12">
                    <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                    <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCartItems" asp-action="Index">My Carts</a></li>
                    <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="WishItem" asp-action="WishList">My Wishlist</a></li>
                    <li class="header-row__menu-item"> <a class="nav-link text-dark" asp-area="" asp-controller="OrderDetails" asp-action="Index">My Purchase History</a></li>
                    @if (!String.IsNullOrEmpty(Context.Session.GetString("Userid")))
                    {
                        <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="LogOut" asp-action="Index">Logout</a></li>

                    }
                    else
                    {
                        <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="RenderProfile">Profile</a> </li>
                        <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a></li>
                        <li class="header-row__menu-item"><a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Register</a></li>


                    }
                </ul>
            </div>
        </div>
    </div>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer_bottom">
        <div class="container_footer">
            &copy; 2021 - CAProjectV2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


